@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: #8fb6a3;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
}

* {
  cursor: none !important;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
